*{
  outline: none;
  padding: none;
  margin: none;
}
.navbar{
  width: 100%;
  padding: 8px;
  border: none;
  box-shadow: 0 0 11px #333;
}
.navbar-nav a{
  font-size: 1.4em;
  font-weight: bold;
}
.navbar-brand img{
  margin-top: -4px;
}
.navbar .btn{
  display: flex;
  align-items: flex-end;
  margin-left: 180px;
}
.intro-section{
  width: 100%;
  height: 260px;
  margin-top: -20px;
  padding: 5px;
  background-color: rgba(232, 232, 232, 0.5);
}
.intro-section h1{
  width: 35%;
  margin-left: 50px;
  font-weight: normal;
}
.intro-section button{
  margin-left: 50px;
  font-size: 1.6em;
}
.form-section{
  width: 100%;
  padding: 20px;
  background-color: #b0e0e6;
}
.form-section p{
  font-size: 1.8em;
  color: #127;
  margin-left: 30px;
}
.form-section input{
  margin-left: 30px;
  border: none;
  font-size: 2.2em;
  padding: 4px;
  width: 60%;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}
.form-section .btn{
  padding: 10px;
  padding-left: 15px;
  border-left: none;
  color: #222;
  background-color: #fff;
  font-size: 1.5em;
  margin-top: -14px;
  margin-left: -5px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}
 .form-section .btn:hover{
  transition: all 0.4s linear;
  background-color: #4682b4;
  color: #fff;
}
.courses-section{
  width: 100%;
  padding-left: 50px;
}
.courses-section .row .card{
  width:30%;
  background-color: #fff;
  box-shadow: 1px 2px 5px #444;
  border-radius: 6px;
  margin: 10px;
  font-size: 1.6em;
  padding: 20px;
  color: #4682b4;
  font-weight: bold;
}
.courses-section .btn{
  padding: 10px;
  font-size: 1.5em;
  background-color: #fff;
  color: #4682b4;
}
.courses-section .btn:hover{
  transition: all 0.4s linear;
  background-color: #4682b4;
  color: #fff;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
.courses-section .btn:active{
  transform: translateY(8px);
}
.footer{
  padding-left: 50px;
}
.footer .row{
  padding: 10px;
  margin-top: 30px;
  border: none;
  border-top: 2px solid rgba(128, 128, 128, 0.6);
}
.footer .row li{
  border-right: 1px solid rgba(128, 128, 128, 0.6);
}
